
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tailwind Profile Card Template : Tailwind Toolbox</title>
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
</head>
<body class=" bg-blue-500">
  <div class="mx-auto container max-w-screen-sm">
    <h1 class="text-center text-black">HOJA DE VIDA</h1>
    <h2 class="text-center text-black">Kevin Mauricio Quito Ayavaca</h2>
    <main class="flex">
        <section class="contenedor rounded-lg bg-red-500">
            <img src="https://scontent.fcue1-1.fna.fbcdn.net/v/t39.30808-6/260598983_1706291832913282_3690911180758584815_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=174925&_nc_ohc=mTZy_oAXnCMAX-zbN2-&_nc_ht=scontent.fcue1-1.fna&oh=00_AfCRT5oem_r1t4Twv-kDtnKVzBI2bmA6OxvneesRpY87Aw&oe=63D46CDF" alt="" class="w-full h-64 object-cover">
        </section>
    </main>    
    <hr class="my-8 border-black">
    <h2 class="text-black">Información Personal</h2>
    <table class="table-auto,">
      
      <tr>
        <th class="text-black"> <br>  Fecha de nacimiento:</th>
        <td class="text-black"> <br> 12 de Agosto del 2004</td>
      </tr>
      <tr> 
        <th class="text-black"> <br>  Dirección:</th> 
        <td class="text-black"> <br> Calle Villalobos y Panamericana Sur</td>
      </tr>
      <tr> 
        <th class="text-black"> <br>  Telefono:</th> 
        <td class="text-black"> <br> 09964330918</td>
      </tr>
    </table>
  </div>
</body>
</html>